apiVersion: v1
kind: Secret
metadata:
  name: crunchy-source-migrator
  namespace: migration-db
type: Opaque
stringData:
  password: "__CRUNCHY_SOURCE_MIGRATOR_PASSWORD__"
---
apiVersion: v1
kind: Secret
metadata:
  name: cnpg-target-superuser
  namespace: migration-db
type: kubernetes.io/basic-auth
stringData:
  username: postgres
  password: "__CRUNCHY_SOURCE_MIGRATOR_PASSWORD__"
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cnpg-target
  namespace: migration-db
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:17.5
  imagePullPolicy: IfNotPresent
  enableSuperuserAccess: true
  superuserSecret:
    name: cnpg-target-superuser
  bootstrap:
    pg_basebackup:
      source: crunchy-source
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: "1"
      memory: 1Gi
  storage:
    size: 5Gi
  externalClusters:
    - name: crunchy-source
      connectionParameters:
        host: crunchy-source-primary.migration-db.svc
        user: migrator
        dbname: app
        sslmode: require
      password:
        name: crunchy-source-migrator
        key: password
